@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EEEEEE;
  --foreground: #000000;
  --primary: #033147e3;
  --secondary: #EEEEEE;
  --tertiary: #009688;
  --quaternary: #dbe0da;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EEEEEE;
    --foreground: #000000;
  }
}

h1 {
  font-family: var(--font-plus-jakarta);
}

.bg-primary {
  background-color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.border-secondary {
  border-color: var(--secondary);
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.border-tertiary {
  border-color: var(--tertiary);
}

.bg-quaternary {
  background-color: var(--quaternary);
}

.border-quaternary {
  border-color: var(--quaternary);
}

.color-background {
  color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes expand {
  from {
    height: 5rem; /* Altura inicial da navbar */
  }
  to {
    height: 14rem; /* Altura expandida */
  }
}

@keyframes collapse {
  from {
    height: 14rem; /* Altura expandida */
  }
  to {
    height: 5rem; /* Altura inicial da navbar */
  }
}

.animate-expand {
  animation: expand 0.3s ease forwards;
}

.animate-collapse {
  animation: collapse 0.3s ease forwards;
}

.thumb {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}